<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="BigCellRowCount" value="3" />
		<add key="BigCellColumnCount" value="3" />
		<add key="CellRowCount" value="3" />
		<add key="CellColumnCount" value="3" />
	</appSettings>
	<system.serviceModel>
		<services>
			<service name="MathTicTac.PL.Services.AccountService">
				<endpoint address="http://localhost:8001/Account" binding="basicHttpBinding" bindingConfiguration="" contract="MathTicTac.PL.Interfaces.IAccountService" />
			</service>
			<service name="MathTicTac.PL.Services.GameService">
				<endpoint address="http://localhost:8002/Game" binding="basicHttpBinding" bindingConfiguration="" contract="MathTicTac.PL.Interfaces.IGameService" />
			</service>
		</services>
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>