<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <connectionStrings>
        <add name="DbConnection" connectionString="Data Source=EPRUSARW1041;Initial Catalog=MathTicTac;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    </connectionStrings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="MathTicTac.PL.Soap.BindingLib.Model.AccountLogicService">
                <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration=""
                    contract="MathTicTac.BLL.Interfaces.IAccountLogicService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://EPRUSARW1041/accService" />
                    </baseAddresses>
                </host>
            </service>
            <service name="MathTicTac.PL.Soap.BindingLib.Model.GameLogicService">
                <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration=""
                    contract="MathTicTac.PL.Soap.BindingLib.Interfaces.IGameLogicService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://EPRUSARW1041/gameService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
